<div class="column">

  <div class="header">
    <h2 *ngIf="!editNameBlock"
        (click)="editColumndName($event)"
        class="column-name">{{ column.name }}</h2>

    <md-input-container *ngIf="editNameBlock">
      <input mdInput
             #nameInput
             maxlength="50"
             mdTooltip="Maximum 50 symbols"
             [(ngModel)]="columnName"
             [focus]="true"
             (clickOutside)="saveColumnName()"
             (keyup.enter)="saveColumnName()">
    </md-input-container>

    <div class="header-button">
      <button md-icon-button [mdMenuTriggerFor]="columnMenu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #columnMenu="mdMenu">
        <button md-menu-item (click)="toggleDetails()">{{ detailsBlock ? 'Hide details' : 'Show details' }}</button>
        <button md-menu-item (click)="openDeleteDialog()">Delete</button>
      </md-menu>
    </div>

    <div class="info" *ngIf="detailsBlock">
      <p>
        <md-icon>check_box</md-icon>
        <span>Tasks progress: {{ doneTasks }}/{{ allTasks }}</span>
      </p>
    </div>

  </div>

  <div class="content" #content>

    <div [sortablejs]="column?.cards" [sortablejsOptions]="options" [runInsideAngular]="true">
      <card [card]="card" *ngFor="let card of column?.cards"
            (deleteCard)="deleteCardHandler($event)"
            (closeCard)="closeCardHandler($event)"></card>
    </div>

    <div *ngIf="!column?.cards.length" [sortablejs]="column?.cards" [sortablejsOptions]="options"
         [runInsideAngular]="true" class="ghost-card">
    </div>

    <div>
      <div class="layout-row content-end"
           *ngIf="!addCardBlock">
        <button md-icon-button
                class="add-card-button"
                type="button"
                md-tooltip="Add new card"
                (click)="openAddCardBlock($event, content)">
          <md-icon>add</md-icon>
        </button>
      </div>

      <div layout="column"
           *ngIf="addCardBlock"
           class="add-card-block"
           (clickOutside)="closeAddCardBlock()">

        <form [formGroup]="addCardForm"
              novalidate
              (ngSubmit)="addCard()">

          <md-input-container class="full-width">
            <input mdInput
                   placeholder="New card name"
                   formControlName="cardName"
                   maxlength="50"
                   mdTooltip="Maximum 50 symbols"
                   [focus]="true">
          </md-input-container>

          <div class="layout-row content-center">
            <button md-button type="submit" color="accent">Add</button>
            <button md-icon-button color="warn" type="button"
                    (click)="closeAddCardBlock()">
              <md-icon>close</md-icon>
            </button>
          </div>
        </form>

      </div>

    </div>
  </div>

</div>
