$orange-400: #ffa726;
$blue-grey-500: #607d8b;
$lime-500: #cddc39;
$cyan-600: #00acc1;

.orange-400 {
  background-color: $orange-400;
}

.blue-grey-500 {
  background-color: $blue-grey-500;
}

.lime-500 {
  background-color: $lime-500;
}

.cyan-600 {
  background-color: $cyan-600;
}
