@import "~normalize.css";
@import 'theme';
@import "variables";
@import "typography";
@import "board-themes";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'MuseoSansRegular', 'Open Sans', sans-serif;
  user-select: none;
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mat-dialog-container {
  padding: 16px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $blue-700;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

::selection {
  background: $blue-700;
}

::-moz-selection {
  background: $blue-700;
}

.full-width {
  width: 100%;
  overflow: hidden;
}

//scroll modal window
.mat-dialog-container {
  max-height: 90vh;
  max-width: 95vw !important;
  overflow: auto !important;
  @media (max-width: 600px) {
    & {
      max-width: 100vw !important;
      max-height: 100vh !important;
    }
  }

  /deep/ .mat-datepicker-content {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.content-end {
  justify-content: flex-end;
  align-items: center;
}

.content-between {
  justify-content: space-between;
  align-items: center;
}

.content-center {
  justify-content: center;
  align-items: center;
}
