:host {
  display: block;
  background-color: #f7f7f7;
  margin: 8px 0;
  border-radius: 2px;
  transition: all 0.3s linear;
  word-break: break-all;
  &:hover {
    background-color: #e2e2e2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  }
  .content {
    min-height: 24px;
    width: 100%;
    cursor: pointer;
    padding: 8px;

    h3 {
      margin: 0;
      font-size: 0.8rem;
    }
  }
  .info {
    margin-top: 4px;
    vertical-align: middle;
    color: #555;
    .mat-icon, span {
      vertical-align: middle;
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
    .due-date {
      display: inline-block;
      padding: 2px 4px;
      border-radius: 2px;
      background-color: #5884ff;
      color: #474747;
      vertical-align: middle;
      span {
        font-size: 0.7rem;
        vertical-align: middle;
      }
    }
  }

}
