@import '../../styles/variables';

:host {
  display: block;
  background-color: $grey-50;
  color: $grey-800;
  margin: 8px 0;
  border-radius: 2px;
  transition: all 0.2s ease;
  word-break: break-all;

  &:hover {
    background-color: $grey-100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .content {
    min-height: 24px;
    width: 100%;
    cursor: pointer;
    padding: 8px;

    .title {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }
  .info {
    margin-top: 4px;
    vertical-align: middle;
    color: $grey-500;
    .mat-icon {
      font-size: 1rem;
      line-height: 1rem;
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      font-size: 1rem;
    }
    .number {
      font-size: 0.8rem;
      vertical-align: middle;
    }
    p {
      margin: 0;
    }
    .due-date {
      display: inline-block;
      padding: 2px 4px;
      border-radius: 2px;
      background-color: $blue-700;
      color: $grey-100;
      vertical-align: middle;
      span {
        font-size: 0.7rem;
        vertical-align: middle;
      }
    }
    .due-date-over {
      background-color: $red-600;
    }

    .tasks {
      padding: 2px 4px;
      border-radius: 2px;
      margin: 2px;
      display: inline-block;
      &.complete {
        background-color: $green-400;
        color: $grey-800;
      }
    }
  }

}
