<div class="card-info">

  <button md-icon-button
          (click)="dialogRef.close()"
          class="close-button">
    <md-icon>close</md-icon>
  </button>

  <ul class="card-list">
    <!--name-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">info</md-icon>
      <div class="item-body">
        <div class="item-content">
          <md-input-container class="full-width">
            <input mdInput
                   placeholder="Card name"
                   maxlength="50"
                   mdTooltip="Maximum 50 symbols"
                   [value]="card.name"
                   (blur)="editName($event.target.value)">
          </md-input-container>
        </div>
      </div>
    </li>
    <!--name end-->

    <!--description-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">description</md-icon>
      <div class="item-body">
        <h3 class="item-title">Description</h3>
        <div class="item-content">
          <span class="change-description-button" (click)="openDescriptionBlock($event)" *ngIf="!descriptionBlock">
            {{ card.description ? 'Change description' : 'Add description' }}
          </span>
          <div class="layout-column">

            <div *ngIf="descriptionBlock" (clickOutside)="closeDescriptionBlock()">
              <md-input-container class="full-width">
                <textarea mdInput
                          placeholder="Description"
                          maxlength="200"
                          mdTooltip="Maximum 200 symbols"
                          [focus]="true"
                          [(ngModel)]="description">
                </textarea>
              </md-input-container>

              <div class="layout-row content-center">
                <button md-button type="button"
                        (click)="saveDescription()">Save
                </button>
                <button md-icon-button color="warn" type="button"
                        (click)="closeDescriptionBlock()">
                  <md-icon>close</md-icon>
                </button>
              </div>
            </div>
            <p *ngIf="!descriptionBlock && card.description">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </li>
    <!--end description-->

    <!--comments-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">comment</md-icon>
      <div class="item-body">
        <h3 class="item-title">
          Comments
        </h3>
        <div class="item-content">
          <ul class="comments" *ngIf="card.comments.length">
            <li *ngFor="let comment of card.comments; let i = index" class="comment">
              <p>{{ comment }}</p>
              <md-icon (click)="deleteComment(i)"
                       md-tooltip="Delete comment" color="warn">close
              </md-icon>
            </li>
          </ul>

          <div>
            <md-input-container class="full-width">
              <textarea mdInput
                        placeholder="Comment"
                        maxlength="200"
                        mdTooltip="Maximum 200 symbols"
                        [(ngModel)]="comment">
              </textarea>
            </md-input-container>

            <div class="layout-row content-end">
              <button md-button type="button"
                      (click)="sendComment()"
                      color="accent"
                      [disabled]="!comment">Send
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--end comments-->

    <!--check list-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">check_box</md-icon>
      <div class="item-body">
        <h3 class="item-title">
          Check Lists
        </h3>
        <div class="item-content">

          <ul>
            <li *ngFor="let checkList of card.checkLists; let i = index;" class="check-list">
              <div class="check-list-header layout-row content-between">
                <h2>{{ checkList.name }}</h2>
                <md-icon md-tooltip="Delete check list" color="warn" (click)="deleteChecklist(i)">close</md-icon>
              </div>
              <div class="progress layout-row content-center">
                <span class="percents">
                  {{ getDonePercent(checkList) }} %
                </span>
                <md-progress-bar
                  color="accent"
                  [value]="getDonePercent(checkList)">
                </md-progress-bar>
              </div>


              <!--check list item-->
              <ul *ngIf="checkList.items.length">
                <li *ngFor="let item of checkList.items; let itemIndex = index"
                    class="list-item layout-row content-between">
                  <div>
                    <md-checkbox [checked]="item.done" (change)="checkOnListItem(item)"></md-checkbox>
                    {{ item.name }}
                  </div>
                  <md-icon (click)="deleteaddCheckListItem(checkList, itemIndex)"
                           md-tooltip="Delete item" color="warn">close
                  </md-icon>
                </li>
              </ul>

              <div class="layout-row content-between">
                <md-input-container class="full-width">
                  <input mdInput
                         placeholder="Item name"
                         maxlength="50"
                         mdTooltip="Maximum 50 symbols"
                         #checkListItemName
                         (keyup.enter)="addCheckListItem(i, checkListItemName)">
                </md-input-container>

                <button md-icon-button type="button"
                        (click)="addCheckListItem(i, checkListItemName)">
                  <md-icon md-tooltip="Add item">add</md-icon>
                </button>
              </div>
              <!-- end check list item-->

            </li>
          </ul>

          <md-input-container class="full-width">
            <input mdInput
                   placeholder="Checklist name"
                   maxlength="50"
                   mdTooltip="Maximum 50 symbols"
                   [(ngModel)]="checkListName"
                   (keyup.enter)="addCheckList()">
          </md-input-container>
          <div class="layout-row content-end">
            <button md-button
                    type="button"
                    (click)="addCheckList()"
                    color="accent"
                    [disabled]="!checkListName">
              Add checklist
            </button>
          </div>
        </div>
      </div>
    </li>
    <!--end check list-->

    <!--due date-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">check_box</md-icon>
      <div class="item-body">
        <h3 class="item-title">
          Due date
        </h3>
        <div class="item-content layout-row content-between">
          <div>
            <md-input-container>
              <input mdInput [mdDatepicker]="picker"
                     [disabled]="true"
                     [(ngModel)]="card.dueDate"
                     placeholder="Select due date" #dateInput>
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker [touchUi]="picker"
                           (selectedChanged)="changeDate($event)">
            </md-datepicker>
          </div>

          <button md-icon-button *ngIf="card.dueDate"
                  md-tooltip="Delete due date"
                  color="warn"
                  (click)="cancelDueDate(picker, dateInput)">
            <md-icon>close</md-icon>
          </button>

        </div>
      </div>
    </li>
    <!--end due date-->

    <!--members-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">people</md-icon>
      <div class="item-body">
        <h3 class="item-title">
          Members
        </h3>
        <div class="item-content">
          <ul class="members" *ngIf="card.members.length">
            <li *ngFor="let member of card.members; let i = index" class="member">
              <p class="member-name" md-tooltip="{{ member }}">{{ member | getInitials }}</p>
              <md-icon (click)="deleteMember(i)" color="warn">close</md-icon>
            </li>
          </ul>

          <div>
            <md-input-container class="full-width">
              <input mdInput
                     placeholder="Member name"
                     maxlength="50"
                     mdTooltip="Maximum 50 symbols"
                     [(ngModel)]="member"
                     (keyup.enter)="addMember()">
            </md-input-container>

            <div class="layout-row content-end">
              <button md-button type="button"
                      (click)="addMember()"
                      color="accent"
                      [disabled]="!member">Add member
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--end members-->

    <!--attachments-->
    <li class="list-item">
      <md-icon md-list-icon class="item-icon">attachment</md-icon>
      <div class="item-body">
        <h3 class="item-title">
          Attachments
        </h3>
        <div class="item-content">
          <ul class="attachments" *ngIf="card.attachments.length">
            <li *ngFor="let attachment of card.attachments; let i = index" class="attachment">
              <a [href]="attachment.link" target="_blank">
                {{ attachment.name ? attachment.name : attachment.link }}
              </a>
              <md-icon (click)="deleteAttachment(i)" color="warn"
                       md-tooltip="Delete attachment">close
              </md-icon>
            </li>
          </ul>

          <div>
            <md-input-container class="full-width">
              <input mdInput
                     placeholder="Attachment link"
                     maxlength="200"
                     mdTooltip="Maximum 200 symbols"
                     [(ngModel)]="attachment.link"
                     (keyup.enter)="addAttachment()">
            </md-input-container>

            <md-input-container class="full-width">
              <input mdInput
                     placeholder="Attachment name(not required)"
                     maxlength="50"
                     mdTooltip="Maximum 50 symbols"
                     [(ngModel)]="attachment.name"
                     [disabled]="!attachment.link"
                     (keyup.enter)="addAttachment()">
            </md-input-container>

            <div class="layout-row content-end">
              <button md-button type="button"
                      (click)="addAttachment()"
                      color="accent"
                      [disabled]="!attachment.link">Add attachment
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--end attachments-->

  </ul>

  <p class="text-center">
    <button md-raised-button (click)="deleteCard()" color="warn">Delete card</button>
  </p>

</div>
