<md-sidenav-container class="dashboard-wrapper">
  <md-sidenav #sidenav class="dashboard-sidenav">

    <h4>Boards list:</h4>

    <button md-raised-button
            class="main-screen-button"
            (click)="openStartPage(); sidenav.close()">
      Organize boards
    </button>

    <md-nav-list>
      <md-list-item (click)="openBoard(board.id); sidenav.close()"
                    *ngFor="let board of boards">
        {{ board.name }}
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <div class="dashboard-content">
    <div class="header">
      <button md-button color="accent" (click)="sidenav.open()">
        <md-icon class="md-18">view_headline</md-icon>
        Boards
      </button>
      <h2 class="title" [routerLink]="['/start']">NeTrello</h2>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-container>

