<md-sidenav-container class="dashboard-wrapper">
  <md-sidenav #sidenav class="dashboard-sidenav">

    <button md-raised-button
            class="full-width"
            color="primary"
            (click)="openStartPage(); sidenav.close()">
      All boards
    </button>

    <h2 class="list-title" *ngIf="boards.length">Boards list:</h2>

    <md-nav-list>
      <md-list-item (click)="openBoard(board.id); sidenav.close()"
                    *ngFor="let board of boards" class=" theme mat-list-item {{ 'theme-' + board.boardTheme }}">
        {{ board.name }}
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <div class="dashboard-content">
    <div class="header">
      <button md-icon-button color="primary" (click)="sidenav.open()">
        <md-icon>view_headline</md-icon>
      </button>
      <h3 class="title" [routerLink]="['/start']">NeTrello</h3>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-container>

